 @font-face {
     font-family: 'Helvetica Inserat LT Std Roman';
     font-style: normal;
     font-weight: normal;
     src: url('/src/assets/fonts/HelveticaInseratLTStd-Roman.woff');
 }
 
 p,
 li {
     font-size: 0.9rem;
     font-family: Roboto, sans-serif;
 }
 
 $font-stack: 'Helvetica Inserat LT Std Roman';
 h1 {
     font-family: $font-stack;
 }
 
 h2 {
     margin-bottom: 5vh;
     font-family: $font-stack;
 }
 